:root {
    --cor-primaria: #000000;
    --cor-secundaria: #f6f6f6;
    --cor-terciaria: #301E67;
    --cor-hover: #5B8FB9;

    --font-principal: 'Krona One', sans-serif;
    --font-secundaria: 'Montserrat', sans-serif;
}
*{
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@100;200&display=swap');

body{
    /* height: 100vh; */
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}
.cabecalho{
    padding: 2% 0 0 15%;
}

.cabecalho__menu{
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link{
    font-family: var(--font-secundaria);
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--cor-terciaria);
    text-decoration: none;
}


.titulo {
    color: var(--cor-terciaria);
}
.nome{
    color: var(--cor-terciaria);
}

.apresentacao{
    gap: 82px;
    padding: 4% 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    
}

.apresentacao__conteudo__titulo{
    font-family: var(--font-secundaria);
    font-size: 2.25rem;
}

.apresentacao__conteudo__texto{
    font-family: var(--font-principal);
    font-size: 1.5rem;
}

.apresentacao__links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__subtitulo{
    font-family: var(--font-principal);
    font-weight: 700;
    font-size: 1.5rem;
}
.apresentacao__links__navegacao{
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0px;
    text-decoration: none;
    color:var(--cor-secundaria);
    font-family: var(--font-secundaria);
}

.apresentacao__links__link:hover {
    background-color: var(--cor-hover);
}
.apresentacao__imagem{
    width: 50%;
}
.rodape{
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    padding: 24px;
    text-align: center;
    font-family: var(--font-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
}

@media (max-width: 1200px){
.cabecalho{
  padding: 6%;
}
.cabecalho__menu{
    justify-content: center;
}
.apresentacao{
    flex-direction: column-reverse;
    padding: 5%;
}
.apresentacao__conteudo{
    width: auto;
}
}